In [8]:
#question 1
for i in range(0,5):
  for j in range(0,i+1):
    print("*",end=" ")
  print("\r")
for i in range(5,0,-1):
  for j in range(0,i-1):
    print("*",end=" ")
  print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [9]:
#question 2
my_list= [10,20,30,40,50,60,70,80,90,100]
n=len(my_list)
for i in range (0,n):
  if(i%2!=0):
    print(my_list[i])

20
40
60
80
100

In [10]:
#question 3
x=[23, 'python',23.98]
type_list=[]
for i in x:
  type_list.append(type(i))
print(x)
print(type_list)

[23, 'python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [7]:
#question 4
def unique_list(lst):
 return list(set (lst))
lst= [1, 2, 3, 3, 3, 3, 4, 5]
print(unique_list(lst))

[1, 2, 3, 4, 5]

In [13]:
#question 5
def count_case(string):
    upper_count = 0
    lower_count = 0
    for char in string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    return "No. of Upper-case characters: {} No. of Lower-case Characters: {}".format(upper_count, lower_count)
print(count_case("The quick Brow Fox"))

No. of Upper-case characters: 3 No. of Lower-case Characters: 12